.favourites {
  padding: 4rem 1rem;
}
.fav-list {
  /* max-width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.fav-header {
  font-size: 3.5rem;
  color: #fff;
  margin: 0 0 2rem 0;
}

.empty-favs {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

@media (max-width: 1024px) {
  .fav-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .fav-list {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
  }

  .fav-header {
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
  }
  .favourites {
    padding: 2rem 0.5rem;
  }
}
