.relative {
  position: relative;
}
.search-bar {
  padding: 0.75rem 2.25rem;
  border: none;
  width: 300px;
  border-radius: 0.5rem;
}
.search-bar:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  left: 4px;
  height: 1.5rem;
  width: 1.5rem;
  top: 8px;
}
